#ignore all object files
*.o

#ignore all .gch files
*.h.gch

#ignore class template file
class_template_blank.h
main.cpp
test.h
tests
test1
test2
test3
test4
main.dSYM
test4.dSYM
tests.dSYM
main
log.txt
errors.txt
